@{
    bool isLogin = Request.Cookies["Username"] == null ? false : true;
}

@if (isLogin)
{
    <li>@Html.ActionLink("Create Staff", "CreateStaff", "Account")</li>
    <li><a style="color: white">Welcome, <strong>@Request.Cookies["Username"].Value</strong></a> </li>
    <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "btn btn-primary" })</li>
}